#start{
	background-color: #fff;
	color: #1A8AC9;
	border-width: 3px;
	border-color: #177BB2;
	margin: 200px auto;
	height: 200px;
	width: 400px;
	display: block;
	vertical-align: middle;
	font-size: 44pt;
}
