#question-box{
	font-weight: bold;
	font-size: 20pt;
	width: 800px;
	margin: 40px auto;
}

#question{
	font-weight: normal;
}


#answer{
	background-color: rgba(255,255,255,0.3);
	width: 800px;
	margin: 0 auto;
	padding: 40px;
	box-shadow: 0 0 10px 4px rgba(23,123,178,0.8);
	position: fixed;
	left: 0;
	right: 0;
	top: 280px;
	display: none;
	min-height: 250px;
}

#answer h2{
	font-size: 32pt;
	text-align:center;
}

#answer p{
	font-size: 22pt;
}

#answer span{
	position: absolute;
	bottom: 20px;
	right: 20px;
}

.item{
	height: 60px;
	text-align: left;
}

.win-listview{
	width: 800px;
	height: 100%;
	margin: auto;	
}

.win-listview > .win-vertical .win-container{
	margin-top: 20px;
}

.win-listview .win-container{
	color: #177BB2;
	background-color: #fff;
    counter-increment: listCount;
	padding: 20px;
	font-size: 18pt;
}

.item::before {
	content: counter(listCount, upper-alpha);
	font-weight: bold;
	padding-right: 10px;
}

.win-listview .win-container .win-itembox{
	background-color: transparent;
}