#question-box{
	font-weight: bold;
	font-size: 16pt;
	width: 800px;
	margin: 20px auto;
}

#question{
	font-weight: normal;
}

.item{
	height: 60px;
	text-align: left;
}

.win-listview{
	width: 800px;
	height: 100%;
	margin: auto;	
}

.win-listview > .win-vertical .win-container{
	margin-top: 20px;
}

.win-listview .win-container{
	color: #177BB2;
	background-color: #fff;
    counter-increment: listCount;
	padding: 20px;
	font-size: 18pt;
}

.item::before {
	content: counter(listCount, upper-alpha);
	font-weight: bold;
	padding-right: 10px;
}

.win-listview .win-container .win-itembox{
	background-color: transparent;
}