#score-info{
	font-size: 32pt;
	text-align: center;
	padding-top: 30px;
}

#score{
	font-size: 64pt;
	font-weight: bold;
	text-align: center;
	padding: 30px;
}

#graph{
	height: 200px;
	width: 800px;
	margin: 0 auto 40px auto;
	position: relative;
    border-bottom: 1px solid white;
}

#graph .bar{
	position: absolute;
	height: 55%;
	bottom: 0;
	width: 12%;
	background-color: #37667F;
	margin: 0 10px;
	font-size: 18pt;
	text-align:center;
}

#graph .bar.active{
	background-color: #E53200;
	font-weight: bold;
}

#graph .bar .percent{
	margin-top: -40px;
}

#graph .bar .x-score{
	position:absolute;
	bottom: -40px;
	width: 100%;
}

.ticket{
	color: #E53200;
	font-size: 32pt;
	text-align: center;
}
.down-arrow{
	display: block;
    cursor: pointer;
    position: relative;
    width: 140px;
    height: 280px;
    margin: 50px auto;
    border-top: transparent;
    opacity: 0;
}
.down-arrow:before,
.down-arrow:after
{
    content: '';
    display: block;
    position: absolute;
	animation: bounce .5s infinite alternate;
}
.down-arrow:before{
	left: 29px;
    top: 0;
    width: 100px;
    height: 180px;
    background-color: #E53200;
}
.down-arrow:after{
	left: 0;
	top: 180px;
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    border-top: 80px solid #E53200;
}

@keyframes bounce {
  from {
    transform: translateY(-10px);
  }

  to {
    transform: translateY(0);
  }
}